.App {
    padding: 4em;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search-box {
    outline: none !important;
    width: 100%;
    border: 1px solid grey;
    font-size: 1rem;
    padding: 1rem;
    border-radius: .5rem;
    /* position: fixed; */
}

.tenantTool {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: .5rem;
}

.gold {
    background: linear-gradient(rgb(255, 237, 138), rgb(253, 244, 189))
}

.white {
    background: linear-gradient(white, rgb(233, 232, 232))
}